<!-- contact.ejs 파일 -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="<%= bootstrapcss %>" />
    <script defer src="<%= bootstrapjs %>"></script>
  </head>
  <body>
    <!-- Navigation-->
    <%- include("components/nav"); -%>

    <h1><%= message %></h1>
    <%- include("components/footer"); -%>
  </body>
</html>
